<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="tree">
        <span class="glyphicon glyphicon-home"></span> {{ 'NAVBAR.FAMILY_TREE' | translate }}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar" uib-collapse="!isCollapsed">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="emblem">{{ 'NAVBAR.CREST' | translate }}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a href="" ng-click="navbar.changeLanguage($event)">en</a></li>
        <li ui-sref-active="active"><a href="" ng-click="navbar.changeLanguage($event)">de</a></li>
        <li role="separator" class="divider"></li>
        <li ui-sref-active="active"><a href="" ng-click="navbar.logout()">logout</a></li>
      </ul>
    </div>
  </div>
</nav>
