<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="tree">
        <span class="glyphicon glyphicon-home"></span> {{ 'NAVBAR.FAMILY_TREE' | translate }}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar" uib-collapse="!isCollapsed">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="emblem">{{ 'NAVBAR.CREST' | translate }}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown>
          <a href="" uib-dropdown-toggle>{{ 'NAVBAR.LANGUAGES' |translate }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="navbar.changeLanguage('de')">Deutsch</a></li>
            <li><a href="" ng-click="navbar.changeLanguage('en')">English</a></li>
            <li><a href="" ng-click="navbar.changeLanguage('fr')">Français</a></li>
          </ul>
        </li>
        <li ng-show="navbar.loggedIn"><a href="" ng-click="navbar.logout()">logout</a></li>
        <li ng-show="!navbar.loggedIn" ui-sref-active="active"><a ui-sref="login">login</a></li>
      </ul>
    </div>
  </div>
</nav>
