<div class="container-fluid">

  <div class="row">
    <acme-navbar></acme-navbar>
  </div>

  <div class="form-group" ng-hide="admin.parent">
    <label for="spouse">Ehegatte</label>
    <select id="spouse" ng-model="admin.spouse" ng-options="option.label for option in admin.dropdownSpouseParent">
      <option></option>
    </select>
  </div>

  <div class="form-group" ng-hide="admin.spouse">
    <label for="parent">Elternteil</label>
    <select id="parent" ng-model="admin.parent" ng-options="option.label for option in admin.dropdownSpouseParent">
      <option></option>
    </select>
  </div>

  <div class="form-group">
    <label for="image">Bild (.jpg)</label>
    <input id="image" ngf-select ng-model="admin.image" ngf-accept="'image/*'" type="file">
  </div>

  <form sf-schema="admin.schema" sf-form="admin.form" sf-model="admin.model" ng-submit="admin.submit()"></form>

</div>
