<div>
  <div class="modal-header">
    <button class="close" ng-click="married.closeModal()">x</button>
    <h3 class="modal-title">Welche Person willst du öffnen?</h3>
  </div>
  <div class="modal-body">
    <div class="list-group">
      <a class="list-group-item" ui-sref="person({ id: '{{ married.data.familyMember.id }}' })" ng-click="married.closeModal()">{{ married.familyMemberName }}</a>
      <a class="list-group-item" ui-sref="person({ id: '{{ married.data.spouse.id }}' })" ng-click="married.closeModal()">{{ married.spouseName }}</a>
    </div>
</div>
</div>
